/* prompt-100 - latin_thai */
@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-Thin.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* prompt-200 - latin_thai */
@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-ExtraLight.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* prompt-300 - latin_thai */
@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-Light.ttf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-Regular.ttf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-Medium.ttf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-SemiBold.ttf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-Bold.ttf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-ExtraBold.ttf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/NotoSansThai/NotoSansThai-Black.ttf') ; /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
